<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Learn Wardley Mapping">
    <meta property="og:description" content="A visual method for exploring, understanding, and communicating strategy under circumstances of constant change.">
    <meta property="og:image" content="https://learnwardleymapping.com/images/terrain_map.jpg">
    <meta property="og:url" content="https://learnwardleymapping.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://learnwardleymapping.com/images/terrain_map.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Learn Wardley Mapping</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">LearnWardleyMapping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="book.html">free book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://learn.hiredthought.com/p/wardley-mapping">free course</a>
                </li>
                <li class=" nav-item">
                    <strong><a class="nav-link" target="_blank" href="https://patreon.com/learnwardleymapping">support this work</a></strong>
                </li>
            </ul>
            <span class="navbar-text">
                operated by <a target="blank" href="https://hiredthought.com">Hired Thought</a>
            </span>
        </div>
    </nav>
    <div class="container-fluid">