<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">LearnWardleyMapping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="book.html">Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://learn.hiredthought.com/p/wardley-mapping">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://patreon.com/learnwardleymapping">Patreon</a>
                </li>
            </ul>
            <span class="navbar-text">
                operated by <a target="blank" href="https://hiredthought.com">Hired Thought</a>
            </span>
        </div>
    </nav>
    <div class="container-fluid">