{{> header}}
<div class="row mt-3 mb-4">
    <div class="col-12 col-sm-3 col-lg-2">
        <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
            <li class="nav-item">
                <a class="nav-link active" id="introduction-tab" data-toggle="tab" href="#introduction" role="tab" aria-controls="introduction" aria-selected="true">Introduction</a>
            </li>
            {{#book}}
                <li class="nav-item">
                    <a class="nav-link" id="chapter-{{chapter}}-tab" data-toggle="tab" href="#chapter-{{chapter}}" role="tab" aria-controls="chapter-{{chapter}}">{{chapter}}. {{title}}</a>
                </li>
            {{/book}}
        </ul>
        <br />
        <a href="https://www.patreon.com/bePatron?u=8670881" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div class="col-12 col-sm-9 col-lg-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="introduction" role="tabpanel" aria-labelledby="introduction-tab">
            </div>
            {{#book}}
                <div class="tab-pane fade" id="chapter-{{chapter}}" role="tabpanel" aria-labelledby="chapter-{{chapter}}-tab">
                    <h1>{{chapter}}. {{title}}</h1>
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            {{#watch-link}}
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{watch-link}}"></iframe>
                                </div>
                            {{/watch-link}}
                            {{^watch-link}}
                                <p>Want a video summary for this chapter? <a target="_blank" href="https://www.patreon.com/learnwardleymapping">Join the Patreon</a> to get early access and make it happen sooner!</p>
                                {{/watch-link}}
                                <div class="image-wrapper float-left pr-3 pt-4">
                                    <img class="rounded" src="images/simon_thumb.jpg" alt="Simon Wardley">
                                </div>
                                <div class="single-post-content-wrapper p-3">
                                    <blockquote class="blockquote">
                                        <p>{{excerpt}}</p>
                                        <footer class="blockquote-footer"><a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a> in <cite title="{{title}}">{{title}}</cite>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0</a></footer>
                                    </blockquote>
                                    <p><a class="btn btn-secondary btn-lg" target="_blank" href="{{read-link}}" role="button">Read the rest on Medium ({{read-time}})</a></p>
                                </div>

                        </div>
                    </div>
                </div>
            {{/book}}
        </div>
    </div>
</div>


<hr />

<ol>
    <li><a href="https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec" target="_blank">On Being Lost</a> (<del>28m read</del>)&nbsp;(<a href="https://www.patreon.com/posts/chapter-1-on-26605789">5m video</a>)</li>
    <li><a href="https://medium.com/wardleymaps/finding-a-path-cdb1249078c0" target="_blank">Finding a Path</a> (<del>24m read</del>) (<a href="https://www.patreon.com/posts/chapter-2-path-28009524">7m video</a>)</li>
    <li><a href="https://medium.com/wardleymaps/exploring-the-map-ad0266fad59b" target="_blank">Exploring the Map</a> (<del>23m read</del>) (<a href="https://www.patreon.com/posts/chapter-3-map-28851686">7m video</a>)</li>
    <li><a href="https://medium.com/wardleymaps/doctrine-8bb0015688e5" target="_blank">Doctrine</a> (<del>33m read</del>) (<a href="https://www.patreon.com/posts/29800464">7m video</a>)</li>
    <li><a href="https://medium.com/wardleymaps/the-play-and-a-decision-to-act-8eb796b1dff1" target="_blank">The Play and a Decision to Act</a> (35m read)</li>
    <li><a href="https://medium.com/wardleymaps/getting-started-yourself-e1a359b785a2" target="_blank">Getting Started Yourself</a> (20m read)</li>
    <li><a href="https://medium.com/wardleymaps/finding-a-new-purpose-8c60c9484d3b" target="_blank">Finding a New Purpose</a> (39m read)</li>
    <li><a href="https://medium.com/wardleymaps/keeping-the-wolves-at-bay-93de21b6b2f8" target="_blank">Keeping the Wolves at Bay</a> (26m read)</li>
    <li><a href="https://medium.com/wardleymaps/anticipation-89692e9b0ced" target="_blank">Charting the Future</a> (33m read)</li>
    <li><a href="https://medium.com/wardleymaps/i-wasnt-expecting-that-dcfe122a2234" target="_blank">I Wasn't Expecting That!</a> (41m read)</li>
    <li><a href="https://medium.com/wardleymaps/a-smorgasbord-of-the-slightly-useful-2498a1163dd6" target="_blank">A Smorgasbord of the Slightly Useful</a> (72m read)</li>
    <li><a href="https://medium.com/wardleymaps/the-scenario-8bc05feee81" target="_blank">The Scenario</a> (14m read)</li>
    <li><a href="https://medium.com/wardleymaps/something-wicked-this-way-comes-b028d5c607bf" target="_blank">Something Wicked This Way Comes</a> (19m read)</li>
    <li><a href="https://medium.com/wardleymaps/to-thine-own-self-be-true-543cfe2cd1a" target="_blank">To Thine Own Self Be True</a> (12m read)</li>
    <li><a href="https://medium.com/wardleymaps/on-the-practice-of-scenario-planning-49eed8279e90" target="_blank">On the Practice of Scenario Planning</a> (34m read)</li>
    <li><a href="https://medium.com/wardleymaps/round-round-get-around-i-loop-around-d88e865d4337" target="_blank">Super Looper</a> (38m read)</li>
    <li><a href="https://medium.com/wardleymaps/to-infinity-and-beyond-c7a53ccd2a07" target="_blank">To Infinity and Beyond</a> (24m read)</li>
    <li><a href="https://medium.com/wardleymaps/better-for-less-58fe8c0a3aaa" target="_blank">Better for Less</a> (37m read)</li>
    <li><a href="https://medium.com/wardleymaps/on-playing-chess-2634b825dbac" target="_blank">On Playing Chess</a> (27m read)</li>
</ol>

{{> footer}}