{{> header}}
<div class="row mt-3 mb-4">
    <div class="col-12 col-sm-3 col-lg-3">
        <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
            {{#book}}
                <li class="nav-item">
                    <a class="nav-link {{#selected}}active{{/selected}}" id="chapter-{{chapter}}-tab" data-toggle="tab" href="#chapter-{{chapter}}" role="tab" aria-controls="chapter-{{chapter}}" {{#selected}} aria-selected="true" {{/selected}}>{{chapter}}. {{title}}</a>
                </li>
            {{/book}}
        </ul>
        <br />
        <p>Want to thank Simon for the book? <a target="_blank" href="https://twitter.com/intent/tweet?text=Many%20thanks%20to%20%40swardley%20for%20sharing%20%23WardleyMaps%21&original_referer=https://learnwardleymapping.com">Tweet at him here</a>!</p>
        <p>Want to support the creation of video summaries? <a target="_blank" href="https://www.patreon.com/bePatron?u=8670881">Become a Patron</a>!
            <a href="https://www.patreon.com/bePatron?u=8670881" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
            <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
        </p>
    </div>
    <div class="col-12 col-sm-9 col-lg-9">
        <div class="tab-content" id="myTabContent">
            {{#book}}
                <div class="tab-pane fade {{#selected}}show active{{/selected}}" id="chapter-{{chapter}}" role="tabpanel" aria-labelledby="chapter-{{chapter}}-tab">
                    <h1>{{chapter}}. {{title}}</h1>
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            {{#watch-link}}
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{watch-link}}"></iframe>
                                </div>
                            {{/watch-link}}
                            {{^watch-link}}
                                <p>Want a video summary for this chapter? <a target="_blank" href="https://www.patreon.com/learnwardleymapping">Join the Patreon</a> to get early access and make it happen sooner!</p>
                                {{/watch-link}}
                                <div class="image-wrapper float-left pr-3 pt-4">
                                    <img class="rounded" src="images/simon_thumb.jpg" alt="Simon Wardley">
                                </div>
                                <div class="single-post-content-wrapper p-3">
                                    <blockquote class="blockquote">
                                        <p>{{{excerpt}}}</p>
                                        <footer class="blockquote-footer"><a target="_blank" href="https://twitter.com/swardley">Simon Wardley</a> in <cite title="{{title}}">{{title}}</cite>, <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0</a></footer>
                                    </blockquote>
                                    <p><a class="btn btn-secondary btn-lg" target="_blank" href="{{read-link}}" role="button">Read the rest on Medium ({{read-time}})</a></p>
                                </div>

                        </div>
                    </div>
                </div>
            {{/book}}
        </div>
    </div>
</div>

{{> footer}}