{{> header}}

<div class="row mt-3 mb-4">
    <div class="col-12 col-sm-3 col-lg-2">
        <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
            <li class="nav-item">
                <a class="nav-link active" id="introduction-tab" data-toggle="tab" href="#introduction" role="tab" aria-controls="introduction" aria-selected="true">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="purpose-tab" data-toggle="tab" href="#purpose" role="tab" aria-controls="purpose" aria-selected="true">1. Purpose</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="landscape-tab" data-toggle="tab" href="#landscape" role="tab" aria-controls="landscape" aria-selected="true">2. Landscape</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="climate-tab" data-toggle="tab" href="#climate" role="tab" aria-controls="climate" aria-selected="false">3. Climate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="doctrine-tab" data-toggle="tab" href="#doctrine" role="tab" aria-controls="doctrine" aria-selected="false">4. Doctrine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="leadership-tab" data-toggle="tab" href="#leadership" role="tab" aria-controls="leadership" aria-selected="false">5. Leadership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="glossary-tab" data-toggle="tab" href="#glossary" role="tab" aria-controls="glossary" aria-selected="false">Glossary</a>
            </li>
        </ul>
        <br />
        <a href="https://www.patreon.com/bePatron?u=8670881" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div class="col-12 col-sm-9 col-lg-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="introduction" role="tabpanel" aria-labelledby="introduction-tab">
                {{> introduction}}
            </div>
            <div class="tab-pane fade" id="purpose" role="tabpanel" aria-labelledby="purpose-tab">
                {{> purpose}}
            </div>
            <div class="tab-pane fade" id="landscape" role="tabpanel" aria-labelledby="landscape-tab">
                {{> landscape}}
            </div>
            <div class="tab-pane fade" id="climate" role="tabpanel" aria-labelledby="climate-tab">
                {{> climate}}
            </div>
            <div class="tab-pane fade" id="doctrine" role="tabpanel" aria-labelledby="doctrine-tab">
                {{> doctrine}}
            </div>
            <div class="tab-pane fade" id="leadership" role="tabpanel" aria-labelledby="leadership-tab">
                {{> leadership}}
            </div>
            <div class="tab-pane fade" id="glossary" role="tabpanel" aria-labelledby="glossary-tab">
                {{> glossary}}
            </div>
        </div>
    </div>
</div>

{{> footer}}