<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Learn Wardley Mapping — Shop">
    <meta property="og:description" content="Tools to help you make maps and share Wardley Mapping!">
    <meta property="og:image" content="https://i2.wp.com/hiredthought.com/wp-content/uploads/2019/09/20190915_180817-e1568586656801.jpg">
    <meta property="og:url" content="https://learnwardleymapping.com/shop">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://i2.wp.com/hiredthought.com/wp-content/uploads/2019/09/20190915_180817-e1568586656801.jpg">

    <meta name="google-site-verification" content="vCI-3_9Bx08goP1P7ECGcAsWBJ9T9blNR5tKDE0pi3w" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Learn Wardley Mapping — Shop</title>
</head>

{{> header}}

<div class="row mt-3 mb-4">
    <div class="col-12 col-sm-2 col-lg-2">
        <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
            {{#products}}
                <li class="nav-item">
                    <a class="nav-link {{#selected}}active{{/selected}}" id="products-{{category}}-tab" data-toggle="tab" href="#products-{{category}}" role="tab" aria-controls="products-{{category}}" {{#selected}} aria-selected="true" {{/selected}}>{{category}}</a>
                </li>
            {{/products}}
        </ul>
        <br />
        <p>Want to support the creation of more products like these? <a target="_blank" href="https://www.patreon.com/bePatron?u=8670881">Become a Patron</a>!</p>
        <p><a href="https://www.patreon.com/bePatron?u=8670881" data-patreon-widget-type="become-patron-button">Become a Patron!</a></p>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div class="col-12 col-sm-9 col-lg-9">
        <div class="tab-content" id="myTabContent">
            {{#products}}
                <div class="tab-pane fade {{#selected}}show active{{/selected}}" id="products-{{category}}" role="tabpanel" aria-labelledby="products-{{category}}-tab">
                    <h1>{{category}}</h1>
                    <p>{{description}}</p>
                    <div class="row mb-5">
                        <div class="col"><img class="img-fluid" src="{{image}}"></div>
                        <div class="col">
                            {{{cta}}}
                        </div>
                    </div>
                    <h2>{{testimonial-name}}</h2>
                    <div class="row">
                        {{#testimonials}}
                            <div class="col">
                                {{{html}}}
                            </div>
                        {{/testimonials}}
                    </div>
                </div>
            {{/products}}
        </div>
    </div>
</div>

{{> footer}}